<% form_for(:user, :url => {:controller => "sessions", :action => "create"}) do |f| %>
    <%= f.text_field :username %>
    <%= f.password_field :password %>
    <%= f.submit "Login" %>
    <p><%= link_to 'Forgot password?', forgot_password_profile_path %></p>
<% end %>