<% form_for(:user, :url => {:controller => "sessions", :action => "create"}) do |f| %>
    <%= f.text_field :username %>
    <%= f.password_field :password %>
<% end %>

<p><%= link_to "Forgot your password?", profile_reset_password_path %></p>