<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title></title>
        <%= stylesheet_link_tag "style" %>
    </head>
    <body>
        <div id="wrapper">
            <div id="main">
                <%= flashes %>
                <%= yield %>
            </div>
        </div>
    </body>
</html>
